name: Test Build Only

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV
      - name: Install RootHide
        run: |
          git clone https://github.com/roothide/roothide.git ~/roothide
          echo "ROOTHIDE=$HOME/roothide" >> $GITHUB_ENV
      - name: Build
        run: |
          cd deb/AutoEnterOnFaceID
          make clean
          make package FINALPACKAGE=1
      - uses: actions/upload-artifact@v4
        with:
          name: DebPackage
          path: deb/AutoEnterOnFaceID/packages/*.deb